body {
    font-family: sans-serif;
    font-size: 30px;
    align-items: center;
  }
  h1 {
    text-align: center;
    margin: 50px 0px;
  }
  div{
    text-align: center;
  }
  form {
    margin: 20px auto;
    width: 60%;
  }
  .h4 {
    margin:0px 0px 0px 270px;
    padding-top: 10px;
  }
  input {
    display: block;
    width: 100%;
    margin: 10px 0px;
    font-size: 24px;
    margin-top: 20px;
  }
  
  button {
    
    padding: 0.35em 1.2em;
    border: 0.1em solid black;
    margin: 40px 0px 0px 360px;
    border-radius: 0.12em;
    box-sizing: border-box;
    background-color: black;
    text-decoration: none;
    font-weight: 300;
    display: blocks;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    font-size: 20px;
  }
  button:hover {
    color: #000000;
    background-color: #ffffff;
  }
  h2{
    
    
    font-size: 35px;
  }
  .options{
    display: flex;
    justify-content: space-between;
    
  }
  .result{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
  }
  
.container {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.box {
  
  color: black;
  margin: 20px;
  font-size: 20px;
}

.box h5 {
  font-size: 30px;
  margin-left: 45px;
  font-weight: normal;
}

.box p {
  font-size: 17px;
  margin-top: 10px;
}





  